# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual env
.venv/
venv/
env/
ENV/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Streamlit local
.streamlit/

# Credentials (JANGAN commit ini kalau ada di lokal)
*.json
*.pem
*.key
*.p12
